<%= stylesheet_link_tag 'comments'%>
<%= link_to "Home", root_path %>
<h1 class="comments-header">Comments</h1>

<% @comments.each do |comment| %>
<div class="comment">
	<h3><%= comment.content %></h3>
	<p><%= (comment.created_at).strftime("%I:%M:%S %p, %d %b %Y, %Z") %> by <%= comment.user.email%></p>
	<%= link_to "Delete", comment, method: :delete, data: {confirm: "You sure?"}, class: 'label alert' %>
	<br>
</div>

<% end %>


<%= link_to "Home", root_path %>

