
<head>
	<link rel="stylesheet" type="text/css" href="noUiSlider/nouislider.css">
	<script src="noUiSlider/nouislider.js"></script>
	<%= stylesheet_link_tag 'posts'%>
</head>
<body>
<%= simple_form_for @post do |f| %>
  <%= f.input :skin %>
  <%= f.input :head %>
  <%= f.input :hair %>
  <%= f.input :hairbacking %>
  <%= f.input :eye %>
  <%= f.input :eyebrow %>
  <%= f.input :spectacles %>
  <%= f.input :nose %>
  <%= f.input :mouth %>
  <%= f.input :facehair %>
  <div id="next-button"><%= f.submit :a , :as => :hidden,
      :input_html => {
        :id => "submit-button"
      } %></div>
  
<% end %>

<!-- <a href="comments/new"> -->

<!-- </a> -->
<p id="randomizer" class="visible-on-white">randomizer!</p>

<div id="loading-screen">THANK YOU, LOADING NAO</div>

<div id="stats-button" class="visible-on-white"><%= link_to 'comments', 'comments'%></div>

<div id="scaler" class="scaler" ><p class="scaler-text">SCALE</p></div>

<div id="color-slider" class="">
	<div class="bw-picker" id="black"></div><div class="bw-picker" id="white"></div><p class="color-slider-text">COLOR</p>
</div>

	<div class="section" id="avatar-view">
	<div class="bg-change"></div>
		<div class="avatar">
			<img id="body" src="images/ears0.png">
			<img data-category="skin" id="worn-skin" class="clothing" src="images/items/skins/skin0.png">
			<img data-category="head" id="worn-head" class="skinnable clothing" src="images/items/heads/head0.png">
			<img data-category="top" id="worn-top" class="clothing" src="images/items/tops/top0.png">
			<img data-category="bottom" id="worn-bottom" class="clothing" src="images/items/bottoms/bottom0.png">
			<img data-category="hair" id="worn-hair" class="clothing" src="images/items/hairs/hair0.png">
			<img id="hair-backing" class="clothing" >
			<img data-category="shoe" id="worn-shoe" class="clothing" src="images/items/shoes/shoe0.png">
			<img data-category="eye" id="worn-eye" class="clothing" src="images/items/eyes/eye0.png">
			<img data-category="eyebrow" id="worn-eyebrow" class="clothing" src="images/items/eyebrows/eyebrow0.png">
			<img data-category="nose" id="worn-nose" class="clothing" src="images/items/noses/nose0.png">
			<img data-category="mouth" id="worn-mouth" class="clothing" src="images/items/mouths/mouth0.png">
			<img data-category="spectacle" id="worn-spectacle" class="clothing" >
			<img data-category="facehair" id="worn-facehair" class="clothing" >
		</div>
	</div>
	
	<div id="selectors">
		<div class="section" id="category-view">
			<ul>
				<div><li data-category="skins" class="category category-selected">SKIN TONE</li></div>
				<div><li data-category="heads" id="headCategory" class="category ">HEAD SHAPE</li></div>
				<div><li data-category="hairs" class="bw-able color-adjustable category">HAIR</li></div>
				<div><li data-category="eyes" class="color-adjustable scalable category">EYES</li></div>
				<div><li data-category="eyebrows" class="scalable category">EYEBROWS</li></div>
				<div><li data-category="noses" class="scalable category nose-button">NOSE</li></div>
				<div><li data-category="mouths" class="scalable category mouth-button">MOUTH</li></div>
				<div><li data-category="spectacles" class="category">GLASSES</li></div>
				<div><li data-category="facehairs" class="category">FACIAL HAIR</li></div>
			</ul>
		</div>
		<div data-category="skins" class="skins-section open-items section" id="item-view">
			<ul class="randomizable-item-list">
				<li data-itemnumber="0" data-skin="" class=" item-selected skins item item-container"></li>
				<li data-itemnumber="1" data-skin="b" class=" skins item item-container"></li>
				<li data-itemnumber="2" data-skin="c" class=" skins item item-container"></li>
				<li data-itemnumber="3" data-skin="d" class=" skins item item-container"></li>
			</ul>
		</div> 
		<div data-category="heads" class="heads-section section" id="item-view">
			<ul class="randomizable-item-list">
				<li data-itemnumber="0" class=" item-selected heads item item-container"></li>
				<li data-itemnumber="1" class=" heads item item-container"></li>
				<li data-itemnumber="2" class=" heads item item-container"></li>
				<li data-itemnumber="3" class=" heads item item-container"></li>
			</ul>
		</div> 

		<div data-category="hairs" class="hairs-section section" id="item-view">
			<ul class="randomizable-item-list">
				<li data-itemnumber="0" class="item-selected hairs item item-container"></li>
				<li data-itemnumber="1" class="hairs item item-container"></li>
				<li data-itemnumber="2" class="hairs item item-container"></li>
				<li data-itemnumber="3" class="hairs item item-container"></li>
				<li data-itemnumber="4" class="hairs item item-container"></li>
				<li data-itemnumber="5" class="hairs item item-container"></li>
				<li data-itemnumber="6" class="hairs item item-container"></li>
				<li data-itemnumber="7" class="hairs item item-container"></li>
				<li data-itemnumber="8" class="hairs item item-container"></li>
				<li data-itemnumber="9" class="hairs item item-container"></li>
				<li data-itemnumber="10" class="hairs item item-container"></li>
				<li data-itemnumber="11" class="hairs item item-container"></li>
				<li data-itemnumber="12" class="hairs item item-container"></li>
				<li data-itemnumber="13" class="hairs item item-container"></li>
				<li data-itemnumber="14" class="hairs item item-container"></li>

			</ul>
		</div>

		<div data-category="eyes" class="eyes-section section" id="item-view">
			<ul class="randomizable-item-list">
				<li data-itemnumber="0" class="item-selected eyes item item-container"></li>
				<li data-itemnumber="1" class="eyes item item-container"></li>
				<li data-itemnumber="2" class="eyes item item-container"></li>
				<li data-itemnumber="3" class="eyes item item-container"></li>
				<li data-itemnumber="4" class="eyes item item-container"></li>
				<li data-itemnumber="5" class="eyes item item-container"></li>
				<li data-itemnumber="6" class="eyes item item-container"></li>
				<li data-itemnumber="7" class="eyes item item-container"></li>
				<li data-itemnumber="8" class="eyes item item-container"></li>
				<li data-itemnumber="9" class="eyes item item-container"></li>
				<li data-itemnumber="10" class="eyes item item-container"></li>
				<li data-itemnumber="11" class="eyes item item-container"></li>
			</ul>
		</div>

		<div data-category="eyebrows" class="eyebrows-section section" id="item-view">
			<ul class="randomizable-item-list">
				<li data-itemnumber="0" class="item-selected eyebrows item item-container"></li>
				<li data-itemnumber="1" class="eyebrows item item-container"></li>
				<li data-itemnumber="2" class="eyebrows item item-container"></li>
				<li data-itemnumber="3" class="eyebrows item item-container"></li>
				<li data-itemnumber="4" class="eyebrows item item-container"></li>
				<li data-itemnumber="5" class="eyebrows item item-container"></li>
				<li data-itemnumber="6" class="eyebrows item item-container"></li>
				<li data-itemnumber="7" class="eyebrows item item-container"></li>
			</ul>
		</div>

		<div data-category="noses" class="noses-section section" id="item-view">
			<ul class="randomizable-item-list">
				<li data-itemnumber="0" class="item-selected noses item item-container"></li>
				<li data-itemnumber="1" class="noses item item-container"></li>
				<li data-itemnumber="2" class="noses item item-container"></li>
				<li data-itemnumber="3" class="noses item item-container"></li>
				<li data-itemnumber="4" class="noses item item-container"></li>
				<li data-itemnumber="5" class="noses item item-container"></li>
				<li data-itemnumber="6" class="noses item item-container"></li>
			</ul>
		</div>

		<div data-category="mouths" class="mouths-section section" id="item-view">
			<ul class="randomizable-item-list">
				<li data-itemnumber="0" class="item-selected mouths item item-container"></li>
				<li data-itemnumber="1" class="mouths item item-container"></li>
				<li data-itemnumber="2" class="mouths item item-container"></li>
				<li data-itemnumber="3" class="mouths item item-container"></li>
				<li data-itemnumber="4" class="mouths item item-container"></li>
				<li data-itemnumber="5" class="mouths item item-container"></li>
				<li data-itemnumber="6" class="mouths item item-container"></li>
				<li data-itemnumber="7" class="mouths item item-container"></li>
			</ul>
		</div> 

		<div data-category="spectacles" class="spectacles-section section" id="item-view">
			<ul class="randomizable-item-list">
				<li data-itemnumber="0" class="spectacles item item-container"></li>
				<li data-itemnumber="1" class="spectacles item item-container"></li>
				<li data-itemnumber="2" class="spectacles item item-container"></li>
				<li data-itemnumber="3" class="spectacles item item-container"></li>
				<li data-itemnumber="4" class="spectacles item item-container"></li>
				<li data-itemnumber="5" class="spectacles item item-container"></li>
				<li class="no-item item item-selected spectacles item-container"></li>
			</ul>
		</div>

		<div data-category="facehairs" class="facehairs-section section" id="item-view">
			<ul class="randomizable-item-list">
				<li data-itemnumber="0" class="facehairs item item-container"></li>
				<li data-itemnumber="1" class="facehairs item item-container"></li>
				<li data-itemnumber="2" class="facehairs item item-container"></li>
				<li data-itemnumber="3" class="facehairs item item-container"></li>
				<li data-itemnumber="4" class="facehairs item item-container"></li>
				<li data-itemnumber="5" class="facehairs item item-container"></li>
				<li class="no-item item item-selected facehairs item-container"></li>
		</div> 

	</div>
</body>
<script type="text/javascript">
// hide broken (missing) images. (if an avatar has no glasses, beard, or hair-backing)
	document.addEventListener("DOMContentLoaded", function(event) {
	Array.from(document.querySelectorAll('img')).forEach(function(img){
  		img.onerror = function(){this.style.display='none';};
   })
});
</script>
<%= javascript_include_tag('test.js') %>