
<%= stylesheet_link_tag 'comments' %>

<div class="section" id="avatar-view">
	<div class="avatar">
		<img id="body" src="/images/ears0.png">
		<img class="clothing" id="worn-skin" src="/<%= @post.skin %>"></img>
		<img class="clothing" id="worn-head" src="/<%= @post.head %>"></img>
		<img class="clothing" id="worn-top" src="/<%= @post.top %>"></img>
		<img class="clothing" id="worn-bottom" src="/<%= @post.bottom %>"></img>
		<img class="clothing" id="worn-hair" src="/<%= @post.hair %>"></img>
		<img class="clothing" id="hair-backing" src="/<%= @post.hairbacking %>"></img>
		<img class="clothing" id="worn-shoe" src="/<%= @post.shoe %>"></img>
		<img class="clothing" id="worn-eye" src="/<%= @post.eye %>"></img>
		<img class="clothing" id="worn-eyebrow" src="/<%= @post.eyebrow %>"></img>
		<img class="clothing" id="worn-spectacle" src="/<%= @post.spectacles %>"></img>
		<img class="clothing" id="worn-nose" src="/<%= @post.nose %>"></img>
		<img class="clothing" id="worn-mouth" src="/<%= @post.mouth %>"></img>
		<img class="clothing" id="worn-facehair" src="/<%= @post.facehair %>"></img>
	</div>
</div>